img.dim {opacity: 0.4;}
img.mugshot {width: 120px; height: 160px}
div.mug_container{display: inline-block; position: relative}
div.mug_container a.button.save {position: absolute; top: 0; left: 0; display: none}
div.mug_container a.button.delete {position: absolute; bottom: 0; left: 0; display: none}
div.mug_container:hover a.button {display: inline-block}