{% extends "base.html" %}
{% block content %}
{% autoescape off %}
<script>
	$(function() {
		$('a.button.save').live('click', function(evt){
			evt.preventDefault();
			var self = this;
			$.ajax({
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json',
				data: '{"action": "verify_mugshot", "arrest": "' + $(this).data('arrestpath') + '"}',
				url: '/mugshot/' + $(this).data('id'),
				success: function(data) {
					$(self).parent().find('a.button').remove();
				}
			});
		});
		$('a.button.delete').live('click', function(evt){
			evt.preventDefault();
			var self = this;
			$.ajax({
				type: 'POST',
				contentType: 'application/json',
				dataType: 'json',
				data: '{"action": "reject_mugshot", "arrest": "' + $(this).data('arrestpath') + '"}',
				url: '/mugshot/' + $(this).data('id'),
				success: function(data) {
					var parent = $(self).parent();
					if (parent.siblings('div.mug_container').length == 0) {
						parent.parents('div.mugshot_container').remove();
					} else {
						parent.remove();
					}
				}
			});
		});
		function getMugshot(id) {
			$.ajax({
				dataType: 'html',
				url: 'mugshot/' + id,
				success: function(data, status, xhr) {
					if (xhr.status == 204) {
						$('#friendthumb_' + id).addClass('dim');
					} else {
						$('#contents').append(data);
					}
				}
			});
		}
		var friends = {{friends}};
		for (var idx in friends) {
			var friend = friends[idx];
			var name = friend['name'];
			var id = friend['id'];
			getMugshot(id);
		}
	});
</script>
{% endautoescape %}
<div id="contents">
	{% for friend in friendarr %}
	<img id="friendthumb_{{friend.id}}" src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}"/>
	{% endfor %}
</div>
{% endblock %}